.container {
  position: relative;
  display: inline-block;
}

.button {
  outline: none;
  offset: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 4px;
  border: none;
  border-radius: 50%;
  
  background-color: transparent;

  cursor: help;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: var(--default);
}

.icon {
  width: 14px;
  height: 14px;
}

.defaultIconColor {
    color: var(--text-muted);
}

.tooltip {
  position: absolute;
  z-index: 50;

  white-space: nowrap;
  
  padding: 8px 12px;
  font-size: 14px;

  background-color: var(--tooltip);
  color: var(--text-opp);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  border-radius: 4px;
  box-shadow: var(--box-shadow);

  animation: fadeIn .15s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.tooltipTop {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0.5rem;
}

.tooltipBottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0.5rem;
}

.tooltipLeft {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.5rem;
}

.tooltipRight {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.5rem;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
}

.arrowTop {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: var(--tooltip);
}

.arrowBottom {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: var(--tooltip);
}

.arrowLeft {
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-left-color: var(--tooltip);
}

.arrowRight {
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border-right-color: var(--tooltip);
}
