.tag {

    padding: 3px 12px;
    border-radius: 4px;

    white-space: nowrap;
    flex-shrink: 0;
    
    user-select: none;
    border: 1px solid var(--dark);
}

.tag.capitalize {
    text-transform: capitalize;
}

.tag.filled {
    background-color: var(--dark);
}

.tag.loading {
    height: 25px;
    width: 60px;
}