.tag {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border: 1px solid var(--dark);
    border-radius: 4px;
    user-select: none;
}

.tag.capitalize {
    text-transform: capitalize;
}

.tag.filled {
    background-color: var(--dark);
}

.tag.loading {
    height: 30px;
    width: 80px;
}

.tag.icon *:first-child {
    height: 16px;
    width: 16px;
}