.tag {
    text-transform: capitalize;

    padding: 2px 8px;
    border-radius: 4px;

    white-space: nowrap;
    flex-shrink: 0;
    
    user-select: none;
}

.tag.hollow {
    border: 1px solid var(--dark);
}

.tag.filled {
    background-color: var(--dark);
}

.tag.loading {
    background-color: var(--dark);
    height: 25px;
    width: 60px;
}