.heading {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 16px;
}

.heading .pfp {
    width: 90px;
}

.heading .desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heading .desc p,
.groupName {
    color: var(--text-muted);
}

.groupName:hover {
    color: var(--primary);
}

.tags,
.dates,
.skelDates {
    display: flex;
    gap: 8px;
    flex-wrap: wrap-reverse;
}

.dates {
    flex-wrap: none;
}

.skelInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skelHeading {
    display: inline-block;
    width: 180px;
    height: 25px;
    background-color: var(--dark);
    border-radius: 4px;
    animation: pulse 1.4s infinite ease-in-out;
}

.skelGroup {
    display: inline-block;
    background-color: var(--dark);
    border-radius: 4px;  
    animation: pulse 1.4s infinite ease-in-out;

    width: 130px;
    height: 16px;
}

.skelPfp {
    width: 90px;
    height: 90px;
    background-color: var(--dark);
    border-radius: 50%;
    animation: pulse 1.4s infinite ease-in-out;
}

.skelTags {
    animation: pulse 1.4s infinite ease-in-out;
}

.skelType {
    width: 100px;
}

.skelDates span {
    width: 130px;
}