.container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.backButton {
  display: flex;
  align-items: center;
  gap: 8px;

  background: none;
  border: none;

  color: var(--text-muted);
  cursor: pointer;

  font-size: 14px;
  padding: 8px 0;
}

.backButton:hover {
  gap: 12px;
  color: var(--primary);
}

.backIcon {
  width: 20px;
}