.heading {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 16px;
}

.heading .pfp {
    width: 90px;
}

.heading .desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skelTags,
.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.skelHeading {
    width: 80px;
    height: 25px;
    background-color: var(--dark);
    border-radius: 4px;
    animation: pulse 1.4s infinite ease-in-out;
}

.skelPfp {
    width: 90px;
    height: 90px;
    background-color: var(--dark);
    border-radius: 50%;
    animation: pulse 1.4s infinite ease-in-out;
}

.skelTags {
    animation: pulse 1.4s infinite ease-in-out;
}