.general {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
}

@media (max-width: 603px) {
    .general {
        display: flex;
        flex-direction: column;
    }
}