.theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 8px;
    font-size: 16px;
}

.theme p {
    user-select: none;
}

.theme .themeIcon {
    cursor: pointer;

    box-sizing: content-box;
    padding: 6px 6px 7px 6px;

    border-radius: 4px;
}

.theme .themeIcon:hover {
    background-color: var(--primary);
    color: var(--font-color-opp);
}

.theme .themeIcon:active {
    background-color: var(--primary-dark);
}

.theme .hideLabel {
    display: none;
}