.skelCard,
.card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    background-color: var(--light);
    border-radius: 8px;
    padding: 16px;
    box-shadow: var(--box-shadow);
    
    border: 1px solid var(--dark);
    animation: slideIn .15s ease-in-out forwards;
}

:global(:root.dark) .card {
    background: var(--gradient);
}

:global(:root.dark) .card:hover {
    background: var(--gradient-hover);
    border-top: 1px solid var(--highlight);
}

.card:hover {
    box-shadow: var(--box-shadow-hover);
    border-top: 1px solid var(--highlight);
}

@keyframes slideIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.info span,
.header,
.profile {
    min-width: 0;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pfp {
    width: 40px;
    height: 40px;
}

.card h3,
.info span:last-child p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info span:first-child p {
    min-width: fit-content;
}

.profile p {
    color: var(--text-muted);
}

.info {
    color: var(--text-muted);
    display: flex;
    gap: 16px;
}

.icon {
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
}

.info span {
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
}

.skelCard {
  box-shadow: none;
  animation: pulse 1.4s infinite ease-in-out;
}

.skelPfp,
.skelHeading,
.skelGroup,
.skelDate,
.skelTour,
.skelIcon {
    background-color: var(--dark);
    border-radius: 4px;
    height: 19px;
}

.skelPfp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.skelCard .profile {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.skelHeading {
    width: 125px;
}

.skelGroup {
    height: 16px;
    width: 90px;
}

.skelIcon {
    height: 19px;
    width: 19px;
    border-radius: 50%;
}

.skelDate {
    width: 90px;
}

.skelTour {
    width: 70px;
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}