.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);

    z-index: 5;
}

.pageContent {
  flex: 1;
  padding: 16px;
  overflow: auto;
  margin-top: 56px;
}

@media (min-width: 768px) {
  .pageContent {
    padding: 32px;
  }
}

.pageContainer {
  max-width: var(--max-width);
  margin: 0 auto;
}