.skelContainer,
.container {
    background-color: var(--light);
    box-shadow: var(--box-shadow);

    border: 1px solid var(--dark);
    border-radius: 8px;

    padding: 32px;
}

.container:hover {
    box-shadow: var(--box-shadow-hover);
}

:global(:root.dark) .container {
    background: var(--gradient);
}

:global(:root.dark) .container:hover {
    background: var(--gradient-hover);
    border-top: 1px solid var(--highlight);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
}

.headerRight {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heading {
    display: flex;
    gap: 8px;
}

.tooltip {
    color: hsl(210, 100%, 50%);
}

.tags {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.showNights {
    color: var(--text-muted);
}

.venue,
.date {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-muted);

    padding: 24px 0px 16px;
}

.venue, .venue .icon {
    gap: 4px;
    padding: 0px;
    color: var(--text);
}

.data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-muted);
  font-size: 12px;
  font-weight: 500;
}

.icon {
  width: 14px;
  height: 14px;
}

.value {
  display: flex;
  gap: 6px;
  font-weight: 600;
}

.skelContainer {
    box-shadow: none;
    animation: pulse 1.4s infinite ease-in-out;
}
@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}

.skelTitle,
.skelTag,
.skelLine,
.skelLineShort {
    background-color: var(--dark);
    border-radius: 4px;
}

.skelIcon {
    background-color: var(--dark);
    border-radius: 50%;    
}

.skelTitle {
    width: 150px;
    height: 22px;
}

.skelTagRow {
  display: flex;
  gap: 8px;
}

.skelTag {
  width: 60px;
  height: 20px;
}

.skelLine {
  width: 150px;
  height: 16px;
}

.skelLineShort {
  width: 60px;
  height: 16px;
}

.skelIcon {
  width: 22px;
  height: 22px;
}

.cardSkel {
    display: flex;
    flex-direction: column;
    gap: 6px;
}