.skelCard,
.showCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: var(--light);
    border-radius: 8px;
    padding: 32px max(20px, 3vw);
    box-shadow: var(--box-shadow);

    border: 1px solid var(--dark);
}

.showCards {
    animation: slideIn .15s ease-in-out forwards;
}

.showCards .header h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

:global(:root.dark) .showCards {
    background: var(--gradient);
}

:global(:root.dark) .showCards:hover {
    background: var(--gradient-hover);
    border-top: 1px solid var(--highlight);
}

.showCards:hover {
    box-shadow: var(--box-shadow-hover);
    border-top: 1px solid var(--highlight);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tags {
    display: flex;
    gap: 8px;
}

.showDate {
    color: var(--text-muted);
}

.venue {
    display: flex;
    gap: 4px;
    align-items: center;
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    opacity: 80%;
}

@media (max-width: 365px) {
    .showCards {
        gap: 24px;
    }
    
    .report {
        align-items: flex-start;
        width: 100%;
        border-top: 1px solid var(--dark);
        padding-top: 16px;
    }
    
    .report p {
        padding: 4px 16px;
        width: 100%;
    }

    .report p:nth-child(even) {
        background-color: var(--default);
    }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    /* transform: translateY(20%); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.skelCard {
  animation: pulse 1.4s infinite ease-in-out;
}

.skelCard span {
    display: inline-block; 
    background-color: var(--dark);
    border-radius: 4px;
}

.skelHeading {
    height: 23px;
    width: 180px;
}

.skelDate {
    height: 19px;
    width: 150px;
}

.skelIcon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.skelVenue {
    height: 19px;
    width: 90px;
}

.skelBox,
.skelAtt,
.skelTicket,
.skelNights {
    height: 19px;
}

.skelBox {
    width: 70px;
}

.skelAtt {
    width: 90px;
}

.skelTicket {
    width: 110px;
}

.skelNights {
    width: 40px;
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}