.skelCard,
.showCards {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;

    background-color: var(--light);
    border-radius: 8px;
    padding: 32px max(20px, 3vw);
    box-shadow: var(--box-shadow);

    border: 1px solid var(--dark);
}

.showCards {
    animation: slideIn .15s ease-in-out forwards;
}

.showCards .header h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

:global(:root.dark) .showCards {
    background: var(--gradient);
}

:global(:root.dark) .showCards:hover {
    background: var(--gradient-hover);
    border-top: 1px solid var(--highlight);
}

.showCards:hover {
    box-shadow: var(--box-shadow-hover);
    border-top: 1px solid var(--highlight);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 60%;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.showDate {
    color: var(--text-muted);
}

.venue {
    display: flex;
    gap: 4px;
    align-items: center;
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    opacity: 80%;
    width: calc(40% - 32px);
    padding-left: 32px;
    margin-left: 32px;
    border-left: 1px solid var(--dark);
}

.report p { 
    padding: 4px 16px;
    width: 100%;
    text-align: right;
}

.report p:nth-child(even) {
    background-color: var(--default);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    /* transform: translateY(20%); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.skelCard {
  box-shadow: none;
  animation: pulse 1.4s infinite ease-in-out;
}

.skelCard span {
    display: inline-block; 
    background-color: var(--dark);
}

.skelHeading {
    height: 23px;
    width: 180px;
    border-radius: 4px;
}

.skelDate {
    height: 19px;
    width: 150px;
    border-radius: 4px;
}

.skelIcon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.skelVenue {
    height: 19px;
    width: 90px;
    border-radius: 4px;
}

.skelTd {
    width: 100%;
    height: 25%;
    background-color: var(--dark);
}

.skelTd:nth-child(odd) {
    background-color: transparent;
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}

@media (max-width: 580px) {

    .showCards {
        flex-direction: column;
    }

    .info {
        width: 100%;
    }

    .report {
        border-left: none;
        padding-left: 0px;
        margin-left: 0px;
        border-top: 1px solid var(--dark);
        padding-top: 32px;
        margin-top: 32px;
        width: 100%;
    }

    .report p {
        text-align: left;
    }

    .skelTd {
        height: 32px;
    }

}