.showCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: var(--light);
    border-radius: 8px;
    padding: 32px max(20px, 3vw);
    box-shadow: var(--box-shadow);

    border: 1px solid var(--dark);
    animation: slideIn .5s ease-in-out forwards;
}

.showCards .header h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

:global(:root.dark) .showCards {
    background: var(--gradient);
}

:global(:root.dark) .showCards:hover {
    background: var(--gradient-hover);
    border-top: 1px solid var(--highlight);
}

.showCards:hover {
    box-shadow: var(--box-shadow-hover);
    border-top: 1px solid var(--highlight);
}

.showCards .info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.showCards .tags {
    display: flex;
    gap: 8px;
}

.showCards .showDate {
    color: var(--text-muted);
}

.showCards .venue {
    display: flex;
    gap: 4px;
    align-items: center;
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    opacity: 80%;
}

@media (max-width: 365px) {
    .showCards {
        gap: 24px;
    }
    
    .report {
        align-items: flex-start;
        width: 100%;
        border-top: 1px solid var(--dark);
        padding-top: 16px;
    }
    
    .report p {
        padding: 4px 16px;
        width: 100%;
    }

    .report p:nth-child(even) {
        background-color: var(--default);
    }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
