.cards {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
}

.info {
  color: var(--text-muted);
}

.gradient {
  position: relative;
}

.gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background: linear-gradient(180deg, transparent, var(--default) 90%);
  pointer-events: none;
}