.hyperlink a {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 8px 100px 9px 8px;
    border-radius: 4px;

    font-size: 16px;

    user-select: none;
}

.hyperlink a:hover {
    background-color: var(--default);
}

.hyperlink a:active {
    background-color: var(--dark);
}

.hyperlink.active a {
    background-color: var(--primary);
    color: var(--text-opp);
}

.hyperlink.active a:hover {
    background-color: var(--primary-dark);
}

:global(:root.dark) .hyperlink.active a {
    color: var(--text);
}

@media (max-width: 900px) {
    .hyperlink a {
        padding-right: 171px;
    }
}