.skeletonCard,
.card {
    display: flex;
    flex-direction: column;
    gap: 32px;

    background-color: var(--light);
    border-radius: 8px;
    padding: 16px;
    box-shadow: var(--box-shadow);

    border: 1px solid var(--dark);
    animation: slideIn .15s ease-in-out forwards;
}

.card .header h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

:global(:root.dark) .card {
    background: var(--gradient);
}

:global(:root.dark) .card:hover {
    background: var(--gradient-hover);
    border-top: 1px solid var(--highlight);
}

.card:hover {
    box-shadow: var(--box-shadow-hover);
    border-top: 1px solid var(--highlight);
}

.card .header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card .tags {
    display: flex;
    gap: 8px;
    overflow: hidden;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    /* transform: translateY(20%); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.skeletonCard {
  box-shadow: none;
  animation: pulse 1.4s infinite ease-in-out;
}

.skelHeader {
    display: flex;
    align-items: center;
    gap: 8px;
}

.skelPfp {
  width: 40px;
  height: 40px;
  background: var(--dark);
  border-radius: 50%;
}

.skelName {
  width: 60%;
  height: 18px;
  background: var(--dark);
  border-radius: 6px;
}

.skelTagRow {
  display: flex;
  gap: 8px;
  margin-top: auto;
}

.skelTag {
  width: 50px;
  height: 18px;
  background: var(--dark);
  border-radius: 4px;
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}