.artist {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.artist .heading {
    display: flex;
    gap: 16px;
}

.artist .heading .pfp {
    width: 80px;
}

.artist .heading .desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.general {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
}

.tours {
    display: grid;
    gap: 8px;
}

.tours .hint {
  color: var(--text-muted);
  margin-bottom: 16px;
}

.tourCards {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 16px;

  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 32px;

  scrollbar-color: transparent transparent;
}

.slider:hover {
  scrollbar-color: var(--scrollbar) transparent;
}


.slider::-webkit-scrollbar {
  height: 8px;
}

.slider::-webkit-scrollbar-track {
  background: transparent;
}

.slider::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 4px;
}

.slider::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar);
}


@media (max-width: 603px) {
    .general {
        display: flex;
        flex-direction: column;
    }
}