.artist {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, minmax(160px, 1fr));
}

.artist .select {
    grid-column: span 1;
    align-self: end;
}

.hint {
  color: var(--text-muted);
  margin-bottom: 16px;
}

@media (max-width: 603px) {

    .top {
        display: flex;
        flex-direction: column;

        border-bottom: 1px solid var(--dark);
        padding-bottom: 32px;
    }

    .select {
        width: 100%;
    }
}

.recent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recent .shows {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}

.gradient {
  position: relative;
}

.gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background: linear-gradient(180deg, transparent, var(--default) 90%);
  pointer-events: none;
}