.artist {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, minmax(160px, 1fr));
}

.artist .heading {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 16px;
}

.artist .heading .pfp {
    width: 90px;
}

.artist .heading .desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.artist .select {
    grid-column: span 1;
    align-self: end;
}

.skelTags,
.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.hint {
  color: var(--text-muted);
  margin-bottom: 16px;
}

.general {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
}


@media (max-width: 603px) {
    .general {
        display: flex;
        flex-direction: column;
    }

    .top {
        display: flex;
        flex-direction: column;

        border-bottom: 1px solid var(--dark);
        padding-bottom: 32px;
    }

    .select {
        width: 100%;
    }
}

.recent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recent .shows {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skelPfp {
    width: 90px;
    height: 90px;
    background-color: var(--dark);
    border-radius: 50%;
    animation: pulse 1.4s infinite ease-in-out;
}

.skelHeading {
    width: 80px;
    height: 25px;
    background-color: var(--dark);
    border-radius: 4px;
    animation: pulse 1.4s infinite ease-in-out;
}

.skelTags {
    animation: pulse 1.4s infinite ease-in-out;
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}