.artist {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.artist .heading {
    display: flex;
    align-items: center;
    gap: 16px;
}

.artist .heading .pfp {
    width: 90px;
}

.artist .heading .desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.hint {
  color: var(--text-muted);
  margin-bottom: 16px;
}

.general {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
}


@media (max-width: 603px) {
    .general {
        display: flex;
        flex-direction: column;
    }
}



.recent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recent .shows {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
