.sidebar,
.hyperlinks,
.footer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    list-style: none;
}

.sidebar {
    background-color: var(--light);
    border-right: 1px solid var(--dark);

    height: 100vh;
    padding: 12px;

    
    position: relative;
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
    z-index: 20;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 24px 24px 24px 0px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--dark);

    font-size: 20px;
    font-weight: 700;

    color: var(--primary);
}

.footer {
    margin-top: auto;
}

.footer .info {
    color: var(--text-muted);
    padding: 24px 8px 8px 8px;
    border-top: 1px solid var(--dark);
}

.closeIcon {
    margin-left: auto;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
    box-sizing: content-box;
    color: var(--text);
}

.closeIcon:hover {
    background-color: var(--dark);
}

.closeIcon:active {
    background-color: var(--primary);
    color: var(--text-opp);
}

:global(:root.dark) .closeIcon:active {
    color: var(--text);
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;

  transform: translateX(0);
  transition: transform .2s ease-in-out;
}

.closed {
  transform: translateX(-100%);
}

@media (max-width: 900px) { .logo { padding-inline: 8px; } }