.sidebar,
.hyperlinks,
.footer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.sidebar {
    background-color: var(--card-bg-color);
    border-right: 1px solid var(--card-border-color);

    height: 100vh;
    padding: 12px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 24px 24px 24px 0px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--card-border-color);

    font-size: 20px;
    font-weight: 700;

    color: var(--primary);
}

.footer {
    margin-top: auto;
}

.footer .info {
    opacity: 60%;
    padding: 24px 8px 8px 8px;
    border-top: 1px solid var(--card-border-color);
}