.cards {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 24px;
}

.span {
  grid-column: 3 span;
}

@media (max-width: 1420px) {
  .cards {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media (max-width: 1020px) {
  .cards {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}

.info {
  color: var(--text-muted);
}

.gradient {
  position: relative;
}

.gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background: linear-gradient(180deg, transparent, var(--default) 90%);
  pointer-events: none;
}