.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.shows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;
}

@media (max-width: 1180px) {
  .shows {
    grid-template-columns: 1fr;
  }
}

.gradient {
  position: relative;
}

.hint {
  color: var(--text-muted);
}

.gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  background: linear-gradient(180deg, transparent, var(--default) 90%);
  pointer-events: none;
}