:root {
  /* COLORS */

  --backgroud-color: #F8F8F8;

  --card-bg-color: #fff;
  --card-border-color: #e5e5e5;

  --primary: #0000ff;
  --primary-dark: #350897;
  --primary-light: #4088e8;

  --font-color: #575757;
  --font-color-opp: #fff;
  --font-color-hover: #000;

  /* OTHERS */

  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--backgroud-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --backgroud-color: #000;

  --card-bg-color: #000;
  --card-border-color: #272727;

  --primary: #4088e8;
  --primary-dark: #2c37ce;

  --font-color: #ffffff99;
  --font-color-opp: #fff;
  --font-color-hover: #000;
}

* {
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all .15s ease-in-out;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--font-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
textarea {
  outline: none;
  offset: none;
}