@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --dark: hsl(0, 0%, 87%);
  --default: hsl(0, 0%, 95%);
  --light: hsl(0, 0%, 100%);

  --text: hsl(0, 0%, 5%);
  --text-opp: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 60%);

  --highlight: hsl(0, 0%, 100%);

  --scrollbar: hsla(0, 0%, 0%, 0.3);
  --tooltip: hsla(0,0%, 10%, .7);

  --box-shadow: 0px 3px 6px hsla(0, 0%, 0%, .07);
  --box-shadow-hover: 0px 6px 9px hsla(0, 0%, 0%, .09);

  --primary: #6A4CFF;
  --primary-dark: #4B2AB8;
  --primary-light: #A99CFF;

  --primary-shadow: 0 0 0 3px hsla(240, 100%, 50%, .1);
  --hover-shadow: 0 0 0 2px hsla(0, 0%, 0%, .05);

  --max-width: 1280px;
  --min-width: 320px;

  --font:  "Open Sans", sans-serif;

  font-family: var(--font);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --dark: hsl(0, 0%, 15%);
  --default: hsl(0, 0%, 10%);
  --light: hsl(0, 0%, 0%);

  --text: hsl(0, 0%, 95%);
  --text-opp: hsl(0, 0%, 5%);

  --hover-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.05);
  --highlight: hsl(0, 0%, 30%);

  --scrollbar: hsla(0, 0%, 100%, 0.3);
  --tooltip: hsla(0,0%, 90%, .8);
}

html {
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all .15s ease-in-out;
}

#root {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#root > div {
  display: flex;
  flex-direction: row;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--text);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
textarea {
  outline: none;
  offset: none;
}

html {
  scrollbar-color: var(--scrollbar) transparent;
}

html::-webkit-scrollbar {
  height: 8px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar);
}