@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
  --dark: hsl(0, 0%, 90%);
  --default: hsl(0, 0%, 95%);
  --light: hsl(0, 0%, 100%);

  --text: hsl(0, 0%, 5%);
  --text-opp: hsl(0, 0%, 95%);
  --text-muted: hsl(0, 0%, 60%);

  --gradient: linear-gradient(0deg, var(--default) 95%, var(--light));
  --gradient-hover: linear-gradient(0deg, var(--default), var(--light));
  --highlight: hsl(0, 0%, 100%);

  --box-shadow: 0px 3px 6px hsla(0, 0%, 0%, .07);
  --box-shadow-hover: 0px 6px 9px hsla(0, 0%, 0%, .14);

  --primary: #0000ff;
  --primary-dark: #350897;
  --primary-light: #4088e8;

  --max-width: 1280px;
  --min-width: 320px;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--default);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --dark: hsl(0, 0%, 15%);
  --default: hsl(0, 0%, 10%);
  --light: hsl(0, 0%, 0%);

  --text: hsl(0, 0%, 95%);
  --text-opp: hsl(0, 0%, 5%);

  --gradient: linear-gradient(0deg, var(--default) 95%, var(--dark));
  --gradient-hover: linear-gradient(0deg, var(--default), var(--dark));
  --highlight: hsl(0, 0%, 30%);
}

* {
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all .15s ease-in-out;
}

#root {
  width: 100%;
}

#root > div {
  display: flex;
  flex-direction: row;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--text);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button,
input,
textarea {
  outline: none;
  offset: none;
}