.iconCard {
    display: flex;
    flex-direction: column;
    gap: 32px;

    background-color: var(--light);
    border-radius: 8px;
    padding: 24px;
    box-shadow: var(--box-shadow);

    border: 1px solid var(--dark);
    animation: slideIn .15s ease-in-out forwards;
}

:global(:root.dark) .iconCard {
    background: var(--gradient);
}

:global(:root.dark) .iconCard:hover {
    background: var(--gradient-hover);
    border-top: 1px solid var(--highlight);
}

.iconCard:hover {
    box-shadow: var(--box-shadow-hover);
    border-top: 1px solid var(--highlight);
}

.iconCard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--text-muted);
}

.iconCard .header svg {
    height: 20px;
}

.iconCard h3 {
    font-size: 20px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skeletonCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  
  padding: 24px;
  height: 132px;

  background-color: var(--light);
  border: 1px solid var(--dark);
  border-radius: 12px;
  
  animation: pulse 1.4s infinite ease-in-out;
}

.skelHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.skelIcon {
  width: 24px;
  height: 24px;
  background-color: var(--dark);
  border-radius: 50%;
}

.skelTxt, 
.skelData {
  width: 40%;
  height: 18px;
  background-color: var(--dark);
  border-radius: 6px;
}

.skelData {
  height: 32px;
  width: 60%;
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}