.iconCard {
    display: flex;
    flex-direction: column;
    gap: 32px;

    background-color: var(--light);
    border-radius: 8px;
    padding: 24px;
    box-shadow: var(--box-shadow);

    border: 1px solid var(--dark);
    animation: slideIn .5s ease-in-out forwards;
}

:global(:root.dark) .iconCard {
    background: var(--gradient);
}

:global(:root.dark) .iconCard:hover {
    background: var(--gradient-hover);
    border-top: 1px solid var(--highlight);
}

.iconCard:hover {
    box-shadow: var(--box-shadow-hover);
    border-top: 1px solid var(--highlight);
}

.iconCard .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--text-muted);
}

.iconCard .header svg {
    height: 20px;
}

.iconCard h3 {
    font-size: 20px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
