.artist {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.general {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, minmax(180px, 1fr));
}

@media (max-width: 603px) {
    .general {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 603px) {
    .top {
      display: flex;
      flex-direction: column;

      border-bottom: 1px solid var(--dark);
      padding-bottom: 32px;
    }

    .select {
        width: 100%;
    }
}

@keyframes pulse {
  0% { opacity: .6; }
  50% { opacity: 1; }
  100% { opacity: .6; }
}